{% extends "base.html" %} {% block content %}

<div>
    <h1>list_books</h1>
    <form action="{% url 'add_book'%}" method="POST">
        {% csrf_token %} {{ form.as_p }}
        <div id="add-button">
            <button type="submit">Add Book</button>
        </div>
    </form>
</div>

<div id="books-list">
    {% for book in book %}
    <div class="card">
        <h2>Title: {{ book.title }}</h2>
        <h3>Author: {{ book.author_name}}</h3>
        <h3>Added to List: {{ book.created_at }}</h3>
        <h4>Description: {{ book.description }}</h4>
        <h4>URL: {{book.url }}</h4>
        {% endfor %}
    </div>
</div>

{% endblock%}